body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 20px;
}

canvas {
    border: 2px solid #333;
    background: #ff8;
    border-radius: 10px;
}
